# Database
# ConnectionStrings__DefaultConnection=Server=localhost;Database=group_service_db;User Id=root;Password=
ConnectionStrings__DefaultConnection=Server=host.docker.internal;Port=3306;Database=group_service_db;User Id=root;Password=

# Service Endpoints
# ServiceEndpoint__TagService=http://tagservice:5003

# JWT Configuration
JWT__Issuer=https://cognito-idp.ap-southeast-1.amazonaws.com/
JWT__Audience=3u4lnd5ak4c55f0n95snpchq6o
AWS__Cognito__Authority=https://cognito-idp.ap-southeast-1.amazonaws.com/

# AWS Cognito (Optional)
AWS__Cognito__ClientId=
AWS__Cognito__ClientSecret=
AWS__Cognito__UserPoolId=
AWS__AccessKey=
AWS__SecretKey=
AWS__Region=ap-southeast-1
